<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">

  <style>
    [v-cloak] {
      display: none;
    }
  </style>

  <title>exp</title>
</head>

<body>

  <div class="container">
    <div id="app" v-cloak>

      <h1 class="display-4 mb-3">$ Exp</h1>

      <div class="row mb-2">
        <div class="col-6">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span v-if="activeSheet">{{ activeSheet.name }}</span>
              <span v-else>Select a sheet</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" v-for="sheet in sheets" href="#" @click="selectSheet(sheet)">{{ sheet.name }}</a>
            </div>
          </div>
        </div>
        <div class="col-6">
          <a data-toggle="collapse" href="#add-sheet-card" class="btn btn-primary float-right">New Sheet</a>
        </div>
      </div>

      <div id="add-sheet-card" class="collapse">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <label for="">Sheet Name</label>
                  <input class="form-control form-control-sm" placeholder="name" v-model.trim="newSheetName" type="text" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <button class="btn btn-primary btn-sm" type="button" @click="addSheet">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="activeSheet !== null">
        <hr/>
        <div class="row">
          <div class="col-6">
            <h2 class="d-inline">{{ activeSheet.name }}</h2>
          </div>
          <div class="col-6">
            <h3 class="float-right">Total: {{ grandTotal }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h4 class="text-muted">{{ sheetDuration }} day(s)</h4>
          </div>
          <div class="col-6">
            <div class="float-right">
              <!-- <a href="#" class="btn btn-sm btn-outline-secondary">Edit</a> -->
              <a href="#" @click="dismissActiveSheet" class="btn btn-sm btn-outline-secondary">Dismiss</a>
            </div>
          </div>
        </div>

        <hr/>

        <div class="row mb-2">
          <div class="col-3">
            <input v-model="activeDay" type="date" class="form-control">
          </div>
          <div class="col-9">
            <h3 class="float-right">Total: {{ dayWiseTotal }}</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                  <tr>
                    <th>When</th>
                    <th>Why</th>
                    <th>Amount</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(expense, index) in activeExpenses">
                    <td>{{ expense.timestamp }}</td>
                    <td>{{ expense.why }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>
                      <a class="btn btn-secondary btn-sm" href="#" @click="editExpense(index, expense)">edit</a>
                      <a class="btn btn-light btn-sm" href="#" @click="removeExpense(index)">remove</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div v-if="activeExpenses !== null">

          <div class="card">
            <div class="card-header">
              Submit Expense
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <label for="">Why</label>
                    <input class="form-control form-control-sm" placeholder="name" v-model.trim="expenseWhy" type="text" />
                  </div>
                </div>
                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label for="">Amount</label>
                    <input class="form-control form-control-sm" placeholder="days" v-model.number="expenseAmt" type="number" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <button class="btn btn-primary btn-sm" type="button" @click="submitExpense">Submit</button>
                </div>
              </div>
            </div>
          </div>

          <!--
          <input type="text" placeholder="Why" v-model.trim="expenseWhy" />
          <input type="text" placeholder="Amount" v-model.number="expenseAmt" />
          <button type="button" @click="submitExpense">Submit</button>
          -->

        </div>
      </div>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js"></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
    crossorigin="anonymous"></script>

  <script>
    var app = new Vue({
      el: "#app",
      computed: {
        dayWiseTotal() {
          if (this.activeExpenses) {
            return this.activeExpenses.reduce((prev, curr) => prev + curr.amount, 0.0);
          }
          else {
            return null;
          }
        },
        grandTotal() {
          if (this.activeSheet) {
            return this.activeSheet.expenses.reduce((prev, curr) => prev + curr.amount, 0.0);
          }
          else {
            return 0.0;
          }
        },
        sheetDuration() {
          if (this.activeSheet) {
            return Object.keys(_.groupBy(this.activeSheet.expenses, (e) => e.day)).length;
          }
          else {
            return null;
          }
        },
        activeExpenses() {
          if (this.activeSheet) {
            return this.activeSheet.expenses.filter((a) => a.day == this.activeDay);
          } else {
            return null;
          }
        }
      },
      data: {
        sheets: [
          {
            name: "Kodai",
            expenses: [
              {
                day: "2018-01-01",
                timestamp: "2018-01-01T10:00:00",
                why: "Rent",
                amount: 20000
              },
              {
                day: "2018-01-01",
                timestamp: "2018-01-01T14:00:00",
                why: "Foo",
                amount: 5000
              },
              {
                day: "2018-01-02",
                timestamp: "2018-01-02T14:00:00",
                why: "bar",
                amount: 6000
              }
            ]
          }
        ],
        //sheets: [],
        newSheetName: "",
        activeSheet: null,
        expenseAmt: 0.0,
        expenseWhy: "",
        inEditMode: false,
        activeDay: null,
        editingExpenseIndex: -1
      },
      mounted() {
        this.depersist();

        setInterval(() => {
          this.persist();
        }, 5000);
      },
      methods: {

        persist() {
          return;
          localStorage.setItem("state", JSON.stringify(this.$data));
        },

        depersist() {
          return;
          console.log("saving");
          var state = JSON.parse(localStorage.getItem("state"));
          if (state) {
            this.sheets = state.sheets;
            this.activeSheet = state.activeSheet;
            this.activeExpenses = state.activeExpenses;
            this.activeExpenseIndex = state.activeExpenseIndex;
          }
        },

        addSheet() {

          if (this.sheets.map((s) => s.name).indexOf(this.newSheetName) !== -1) {
            alert("This sheet already exists, can't add");
            return;
          }

          this.sheets.push({
            name: this.newSheetName,
            expenses: []
          });

          this.newSheetName = "";
          this.newSheetDuration = 1;

          this.persist();
        },

        selectSheet(sheet) {
          this.dismissActiveSheet();
          this.activeSheet = sheet;
          this.activeDay = moment().format("YYYY-MM-DD");
        },

        dismissActiveSheet() {
          this.activeSheet = null;
          this.activeDay = null;
          this.inEditMode = false;
          this.expenseWhy = "";
          this.expenseAmt = 0.0;
          this.editingExpenseIndex = -1;
        },

        submitExpense() {
          if (this.expenseWhy == "" || this.expenseAmt <= 0.0) {
            alert("Can't add/edit empty expense");
            return;
          }

          if (this.inEditMode) {
            var expense = this.activeSheet.expenses[this.editingExpenseIndex];
            expense.why = this.expenseWhy;
            expense.amount = this.expenseAmt;

            this.activeSheet.expenses.splice(this.editingExpenseIndex, 1, expense);
          }
          else {
            this.activeSheet.expenses.push({
              day: this.activeDay,
              timestamp: moment().format(),
              why: this.expenseWhy,
              amount: this.expenseAmt
            });
          }

          this.expenseAmt = 0.0;
          this.expenseWhy = "";

          this.inEditMode = false;
          this.editingExpenseIndex = -1;

          this.persist();
        },

        removeExpense(index) {
          this.activeSheet.expenses.splice(index, 1);
          this.persist();
        },

        editExpense(index, expense) {
          var expenseClone = _.cloneDeep(expense);

          this.expenseWhy = expenseClone.why;
          this.expenseAmt = expenseClone.amount;

          this.inEditMode = true;
          this.editingExpenseIndex = index;
        }

      }
    });
  </script>

</body>

</html>