<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">

  <style>
    [v-cloak] {
      display: none;
    }
  </style>

  <title>exp</title>
</head>

<body>

  <div class="container">
    <div id="app" class="mt-5" v-cloak>

      <div class="row pb-2">
        <div class="col-6">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span v-if="activeSheet">{{ activeSheet.name }}</span>
              <span v-else>Select a sheet</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" v-for="sheet in sheets" href="#" @click="selectSheet(sheet)">{{ sheet.name }}
                <span class="badge badge-dark">{{ sheet.duration }} day(s)</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-6">
          <a data-toggle="collapse" href="#add-sheet-card" class="btn btn-primary float-right">New Sheet</a>
        </div>
      </div>

      <div id="add-sheet-card" class="collapse">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <label for="">Sheet Name</label>
                  <input class="form-control form-control-sm" placeholder="name" v-model.trim="newSheetName" type="text" />
                </div>
              </div>
              <div class="col-12 col-md-2">
                <div class="form-group">
                  <label for="">Duration</label>
                  <input class="form-control form-control-sm" placeholder="days" v-model.number="newSheetDuration" type="number" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <button class="btn btn-primary btn-sm" type="button" @click="addSheet">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>



      <hr/>
      <div v-if="activeSheet !== null">
        <h2>{{ activeSheet.name }} ({{ activeSheet.duration }})
          <a href="#" @click="dismissActiveSheet">x</a>
        </h2>
        <h3>Grand: {{ grandTotal }}</h3>
        <hr/>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Day
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" v-for="(_, index) in activeSheet.expenses" @click="setActiveDay(index)">
              {{ index + 1 }}
            </a>
          </div>
        </div>

        <h3>Day total: {{ dayWiseTotal }}</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-sm">
            <thead class="thead-light">
              <tr>
                <th>When</th>
                <th>Why</th>
                <th>Amount</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(expense, index) in activeExpenses">
                <td>{{ expense.when }}</td>
                <td>{{ expense.why }}</td>
                <td>{{ expense.amount }}</td>
                <td>
                  <a class="btn btn-secondary btn-sm" href="#" @click="editExpense(index, expense)">edit</a>
                  <a class="btn btn-light btn-sm" href="#" @click="removeExpense(index)">remove</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div v-if="activeExpenses !== null">
          <input type="text" placeholder="Why" v-model.trim="expenseWhy" />
          <input type="text" placeholder="Amount" v-model.number="expenseAmt" />
          <button type="button" @click="submitExpense">Submit</button>
        </div>
      </div>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
    crossorigin="anonymous"></script>

  <script>
    var app = new Vue({
      el: "#app",
      computed: {
        dayWiseTotal() {
          if (this.activeExpenses) {
            return this.activeExpenses.reduce((prev, curr) => prev + curr.amount, 0.0);
          }
          else {
            return null;
          }
        },
        grandTotal() {
          if (this.activeSheet) {

            var grand = 0.0;
            this.activeSheet.expenses.forEach(dayWiseExpenses => {
              var dayTotal = dayWiseExpenses.reduce((prev, curr) => prev + curr.amount, 0.0);
              grand = grand + dayTotal;
            });

            return grand;
          }
        }
      },
      data: {
        sheets: [],
        newSheetName: "",
        newSheetDuration: 1,
        activeSheet: null,
        activeExpenses: null,
        expenseAmt: 0.0,
        expenseWhy: "",
        inEditMode: false,
        editingExpenseIndex: -1
      },
      mounted() {
        this.depersist();

        setInterval(() => {
          console.log("saving");
          this.persist();
        }, 5000);
      },
      methods: {

        persist() {
          localStorage.setItem("state", JSON.stringify(this.$data));
        },

        depersist() {
          var state = JSON.parse(localStorage.getItem("state"));
          if (state) {
            this.sheets = state.sheets;
            this.activeSheet = state.activeSheet;
            this.activeExpenses = state.activeExpenses;
          }
        },

        addSheet() {

          if (this.sheets.map((s) => s.name).indexOf(this.newSheetName) !== -1) {
            alert("This sheet already exists, can't add");
            return;
          }

          var expenses = [];
          for (var i = 0; i < this.newSheetDuration; i++) {
            expenses.push([]);
          }

          this.sheets.push({
            name: this.newSheetName,
            duration: this.newSheetDuration,
            expenses: expenses
          });

          this.newSheetName = "";
          this.newSheetDuration = 1;

          this.persist();
        },

        selectSheet(sheet) {

          this.dismissActiveSheet();

          this.activeSheet = sheet;
          this.activeExpenses = null;
        },

        dismissActiveSheet() {
          this.activeSheet = null;
          this.activeExpenses = null;
          this.inEditMode = false;
          this.editingExpenseIndex = -1;
          this.expenseWhy = "";
          this.expenseAmt = 0.0;
        },

        setActiveDay(index) {
          this.dismissActiveDay();
          this.activeExpenses = this.activeSheet.expenses[index];
        },

        dismissActiveDay() {
          this.inEditMode = false;
          this.editingExpenseIndex = -1;
          this.expenseWhy = "";
          this.expenseAmt = 0.0;
        },

        submitExpense() {
          if (this.expenseWhy == "" || this.expenseAmt <= 0.0) {
            alert("Can't add/edit empty expense");
            return;
          }

          if (this.inEditMode) {
            var expense = this.activeExpenses[this.editingExpenseIndex];
            expense.why = this.expenseWhy;
            expense.amount = this.expenseAmt;

            this.activeExpenses.splice(this.editingExpenseIndex, 1, expense);
          }
          else {
            this.activeExpenses.push({
              when: Date.now(),
              why: this.expenseWhy,
              amount: this.expenseAmt
            });
          }

          this.expenseAmt = 0.0;
          this.expenseWhy = "";

          this.inEditMode = false;
          this.editingExpenseIndex = -1;

          this.persist();
        },

        removeExpense(index) {
          this.activeExpenses.splice(index, 1);
          this.persist();
        },

        editExpense(index, expense) {
          var expenseClone = _.cloneDeep(expense);

          this.expenseWhy = expenseClone.why;
          this.expenseAmt = expenseClone.amount;

          this.inEditMode = true;
          this.editingExpenseIndex = index;
        }

      }
    });
  </script>

</body>

</html>